/* Color Theme Swatches in Hex */
.Dotrl---Fintech-SAAS-Website-Design-1-hex { color: #A0E3F2; }
.Dotrl---Fintech-SAAS-Website-Design-2-hex { color: #074040; }
.Dotrl---Fintech-SAAS-Website-Design-3-hex { color: #EDF252; }
.Dotrl---Fintech-SAAS-Website-Design-4-hex { color: #F2E641; }
.Dotrl---Fintech-SAAS-Website-Design-5-hex { color: #F2EB88; }

/* Color Theme Swatches in RGBA */
.Dotrl---Fintech-SAAS-Website-Design-1-rgba { color: rgba(159, 227, 242, 1); }
.Dotrl---Fintech-SAAS-Website-Design-2-rgba { color: rgba(7, 63, 63, 1); }
.Dotrl---Fintech-SAAS-Website-Design-3-rgba { color: rgba(236, 242, 82, 1); }
.Dotrl---Fintech-SAAS-Website-Design-4-rgba { color: rgba(242, 230, 65, 1); }
.Dotrl---Fintech-SAAS-Website-Design-5-rgba { color: rgba(242, 235, 135, 1); }

/* Color Theme Swatches in HSLA */
.Dotrl---Fintech-SAAS-Website-Design-1-hsla { color: hsla(191, 76, 78, 1); }
.Dotrl---Fintech-SAAS-Website-Design-2-hsla { color: hsla(180, 80, 13, 1); }
.Dotrl---Fintech-SAAS-Website-Design-3-hsla { color: hsla(61, 86, 63, 1); }
.Dotrl---Fintech-SAAS-Website-Design-4-hsla { color: hsla(56, 87, 60, 1); }
.Dotrl---Fintech-SAAS-Website-Design-5-hsla { color: hsla(56, 80, 74, 1); }
